<!-- index.html -->
<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="sapaApp">

  <head>
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <link rel="stylesheet" href="css/main.css">

    <!-- load angular and angular route via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- load js files -->
    <script src="app.js"></script>
    <script type="text/javascript" src='controllers/mainController.js'></script>
    <script type="text/javascript" src='controllers/adminController.js'></script>
    <script type="text/javascript" src='factories/mainFactory.js'></script>
  </head>

  <body ng-app="sapaApp">

    <!-- HEADER AND NAVBAR -->
    <header ng-controller="mainController">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">UF SAPA</a>
          </div>
          <div ng-if="accessLevel == 1 || accessLevel == 2">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><i class="fa fa-user"></i> Members</a></li>
              <li><a href="#events"><i class="fa fa-calendar"></i> Events</a></li>
              <li><a href="#about"><i class="fa fa-info-circle"></i> About</a></li>
              <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
              <li><a href="#account"><i class="fa fa-user"></i> Account</a></li>
            </ul>
          </div>
          <div ng-if="accessLevel == 0">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><i class="fa fa-user"></i> Members</a></li>
              <li><a href="#about"><i class="fa fa-info-circle"></i> About</a></li>
              <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
              <li><a href="#login"><i class="fa fa-user"></i> Sign in</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">

      <!-- this is where content will be injected -->
      <div ng-view></div>

    </div>

  </body>

</html>