<!-- account.html ~ Where members can edit their own profile, view points, etc -->
<div class="jumbotron text-center" ng-controller="mainController">
  <div ng-if="accessLevel == 0">
    <h2>Access Denied</h2>
  </div>
  <div ng-if="accessLevel == 2 || accessLevel == 1">
    <h2>My Account</h2>

    <h3>{{user.firstName}} {{user.lastName}}</h3>

    <h3>{{user.email}}</h3>

    <a>Edit Profile</a>

    <h3>{{user.points}}</h3>

    <a>View Points</a>

    <h3> </h3>

    <a>View Events</a>



  </div>
</div>