<!-- account.html ~ Dashboard: Where members can route to edit their own profile, view points, events etc -->
<div class="jumbotron text-center">
  <div class="page-title" style="background-image: url(images/page-title.jpg)">
    <h1>
      <font color="black"> My Account</font>

    </h1>
  </div>

  <body>
    <div ng-if="accessLevel == 0">
      <h2>Access Denied</h2>
    </div>
    <div ng-if="accessLevel == 2 || accessLevel == 1">



      <div class="accountImageContainer">
        <div class="recent-work-wrap">
          <img class="profileImage img-responsive" src={{user.contactInfo.profileImage.src}} alt="">
          <div class="overlay">
            <div class="recent-work-inner">
              <a class="preview" href="#/profile/{{user._id}}" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
            </div>
          </div>
        </div>
        <center id="UserName">{{user.contactInfo.firstName}} {{user.contactInfo.lastName}}</center>
      </div>

      <h3>{{user.email}}</h3>

      <h3>Points: {{user.points}}</h3>

      <div ng-if="accessLevel == 2">
        <a href="/#/admin">Admin Page</a>
      </div>

      <a href="/#/editProfile">Edit Profile</a>


      <div>
        <button class="btn btn-outline-secondary" type="button" ng-click="logout()">Logout</button>
      </div>


    </div>
  </body>
</div>