<!-- admin.html -->
<div class="jumbotron text-center" ng-controller="adminController">

  <div ng-if="accessLevel != 2">
    <h2>Access Denied</h2>
  </div>
  <div ng-if="accessLevel == 2">
    <h2>Admin Page</h2>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="email" ng-model="newUser.email">
      <input type="number" class="form-control" placeholder="access level" ng-model="newUser.accessLevel">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" ng-click="create(newUser)">Add User</button>
      </div>
    </div>
    {{message}}
  </div>

</div>