<!-- editProfile.html ~ Where members can edit their own profile -->
<div class="jumbotron text-center" ng-controller="mainController">
  <div ng-if="accessLevel == 0">
    <h2>Access Denied</h2>
  </div>
  <div ng-if="accessLevel == 2 || accessLevel == 1">
    <h2>Edit Profile</h2>

    <form>
      <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="firstName" placeholder="Enter First Name">
        </div>
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email" placeholder="Enter Email">
        </div>
      </div>

      <div class="form-group row">
        <label for="phone" class="col-sm-2 col-form-label">Phone Number</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="phone" placeholder="Enter Phone Number">
        </div>
      </div>

      <div class="form-group row">
        <label for="program" class="col-sm-2 col-form-label">Program</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="program" placeholder="Enter Program">
        </div>
      </div>

      <div class="form-group row">
        <label for="country" class="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="country" placeholder="Enter Country">
        </div>
      </div>

      <div class="form-group row">
        <label for="major1" class="col-sm-2 col-form-label">Major 1</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="major1" placeholder="Enter First Major">
        </div>
      </div>

      <div class="form-group row">
        <label for="major2" class="col-sm-2 col-form-label">Major 2</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="major2" placeholder="Enter Second Major">
        </div>
      </div>
      
      <div class="form-group row">
        <label for="major3" class="col-sm-2 col-form-label">Major 3</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="major3" placeholder="Enter Third Major">
        </div>
      </div>

      <div class="form-group row">
        <label for="minor1" class="col-sm-2 col-form-label">Minor 1</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="minor1" placeholder="Enter First Minor">
        </div>
      </div>

      <div class="form-group row">
        <label for="minor2" class="col-sm-2 col-form-label">Minor 2</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="minor2" placeholder="Enter Second Minor">
        </div>
      </div>

      <div class="form-group row">
        <label for="officeHours" class="col-sm-2 col-form-label">Office Hours</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="officeHours" placeholder="Enter Office Hours">
        </div>
      </div>

      <div class="form-group row">
        <label for="question1" class="col-sm-2 col-form-label">Question 1 placeholder</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="question1" placeholder="Enter Answer">
        </div>
      </div>

      <div class="form-group row">
        <label for="question2" class="col-sm-2 col-form-label">Question 2 placeholder</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="question2" placeholder="Enter Answer">
        </div>
      </div>

      <div class="form-group row">
        <label for="question3" class="col-sm-2 col-form-label">Question 3 placeholder</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="question3" placeholder="Enter Answer">
        </div>
      </div>

      <div class="form-group row">
        <label for="question4" class="col-sm-2 col-form-label">Question 4 placeholder</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="question4" placeholder="Enter Answer">
        </div>
      </div>

      <div class="form-group row">
        <label for="question5" class="col-sm-2 col-form-label">Question 5 placeholder</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="question5" placeholder="Enter Answer">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Confirm Changes</button>
        </div>
      </div>
    </form>



  </div>
</div>