<!-- events.html -->
<div class="jumbotron text-center" ng-controller="eventController">
  <div class="page-title" style="background-image: url(images/page-title.jpg)">
    <h1>
      <font color="black"> Events</font>
    </h1>
  </div>

    <h2 ng-if="accessLevel == 0">Access Denied</h2>
    <div ng-if="accessLevel > 0">
        <div class="input-group mb-3" ng-if="accessLevel == 2">
            <label>Create a new Event</label>
            <input type="text" class="form-control" placeholder="name" ng-model="newEvent.name">
            <input type="date" class="form-control" placeholder="date" ng-model="newEvent.date">
            <input type="text" class="form-control" placeholder="info" ng-model="newEvent.info">
            <input type="text" class="form-control" placeholder="type" ng-model="newEvent.type">
            <input type="number" class="form-control" placeholder="points" ng-model="newEvent.points">
            <input type="number" class="form-control" placeholder="penalty (positive number)" ng-model="newEvent.penalty">
            <input type="number" class="form-control" placeholder="max attendees (0 for no max)" ng-model="newEvent.max">
            <div class="input-group-append">
                <button class="btn btn-light" type="button" ng-click="createEvent(newEvent)">
                    Add Event
                </button>
            </div>
        </div>
        <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1">
                <button ng-click="filter()" class="glyphicon glyphicon-search"></button>
            </span>
            <input type="text" class="form-control" placeholder="Search" ng-model="query.text" ng-change="filter()">
        </div>
        <div class="card-deck" ng-repeat="array in events2D">
            <div class="card bg-light" ng-repeat="event in array">
                <div class="card-header">
                    <h2 class="card-title">{{event.name}}</h2>
                </div>
                <div class="card-body text-center">
                    <p class="card-text">{{event.date2}}</p>
                    <p class="card-text">{{event.points}} Point(s)</p>
                </div>
                <div class="card-footer">
                    <button ng-click="showInfo(event)" class="glyphicon glyphicon-info-sign"></button>
                </div>
            </div>
        </div>
    </div>
</div>
