<!-- events.html -->
<div class="jumbotron text-center" ng-controller="eventController">
    <h2>Event Page</h2>
    <div class="input-group" id="searchBar">
        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" placeholder="Search" ng-model="query">
    </div>
    <div class="card-deck">
        <div class="card bg-light" ng-repeat="event in events | filter: query">
            <div class="card-header">
                <h2 class="card-title">{{event.name}}</h2>
            </div>
            <div class="card-body text-center">
                <p class="card-text">{{event.date2}}</p>
                <p class="card-text">{{event.points}} Point(s)</p>
            </div>
            <div class="card-footer">
                <a href="#" class="card-link">More Info</a>
            </div>
        </div>
    </div>
</div>