<!-- events.html -->
<div class="jumbotron text-center" ng-controller="eventController">
    <h2>Event Page</h2>
    <div class="input-group" id="searchBar">
        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
        <input type="text" class="form-control" placeholder="Search" ng-model="query">
    </div>
    <table class="table table-striped table-hover">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Info</th>
            <th>Type</th>
            <th>Points</th>
        </tr>
        <tr ng-repeat="event in events | filter: query">
            <td>{{event.name}}</td>
            <td>{{event.date}}</td>
            <td>{{event.info}}</td>
            <td>{{event.type}}</td>
            <td>{{event.points}}</td>
        </tr>
    </table>
    <div class="card-deck">
        <div class="card bg-primary">
            <div class="card-body text-center">
                <p class="card-text">Some text inside the first card</p>
                <p class="card-text">Some more text to increase the height</p>
                <p class="card-text">Some more text to increase the height</p>
                <p class="card-text">Some more text to increase the height</p>
            </div>
        </div>
        <div class="card bg-warning">
            <div class="card-body text-center">
                <p class="card-text">Some text inside the second card</p>
            </div>
        </div>
        <div class="card bg-success">
            <div class="card-body text-center">
                <p class="card-text">Some text inside the third card</p>
            </div>
        </div>
        <div class="card bg-danger">
            <div class="card-body text-center">
                <p class="card-text">Some text inside the fourth card</p>
            </div>
        </div>
    </div>
</div>