<!-- login.html -->
<div class="jumbotron">
  <div class="page-title" style="background-image: url(images/page-title.jpg)">
    <h1>
      <font color="black"> Join our team</font>

    </h1>
  </div>
  <div class="col-md-offset-1">
    <h2>Member Login</h2>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="email" ng-model="auth.email">
    </div>
    <div class="input-group mb-3">
      <input type="password" class="form-control" placeholder="password" ng-model="auth.password">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" ng-click="login(auth)">Login</button>
      </div>
      {{loginmessage}}
    </div>
  </div>
</div>
