<!-- login.html -->
<div class="jumbotron">
  <div class="col-md-offset-5">
    <h2>Member Login</h2>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="email" ng-model="auth.email">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="password" ng-model="auth.password">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" ng-click="login(auth)">Login</button>
      </div>
    </div>

  </div>
</div>